<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.figure.core.repository.notice.NoticeAlarmTriggerRuleMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.figure.core.model.notice.NoticeAlarmTriggerRule">
                    <result column="ruleId" property="ruleId" />
                    <result column="ruleName" property="ruleName" />
                    <result column="strategyId" property="strategyId" />
                    <result column="alarmObjectType" property="alarmObjectType" />
                    <result column="alarmObjectIds" property="alarmObjectIds" />
                    <result column="alarmTypes" property="alarmTypes" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            ruleId, ruleName, strategyId, alarmObjectType, alarmObjectIds, alarmType
        </sql>

</mapper>
