<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.figure.core.repository.notice.NoticeUserGroupMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.figure.core.model.notice.NoticeUserGroup">
            <id column="groupId" property="groupId" />
            <result column="groupName" property="groupName" />
            <result column="mark" property="mark" />
            <result column="userIds" property="userIds" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            groupId, groupName, mark, userIds
        </sql>

</mapper>
