<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.figure.core.repository.notice.NoticeAgentMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.figure.core.model.notice.NoticeAgent">
                    <id column="agentId" property="agentId" />
                    <result column="name" property="name" />
                    <result column="type" property="type" />
                    <result column="config" property="config" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            agentId, name, type, config
        </sql>

</mapper>
