<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.figure.core.repository.spectrum.SpectrumRecordMessageMapper">

    <resultMap id="SpectrumRecordMessageResult" type="com.figure.core.model.spectrum.SpectrumRecordMessage">
        <result property="id" column="id"/>
        <result property="serviceCode" column="serviceCode"/>
        <result property="serviceName" column="serviceName"/>
        <result property="spectrumCode" column="spectrumCode"/>
        <result property="spectrumName" column="spectrumName"/>
        <result property="centerFrequency" column="centerFrequency"/>
        <result property="frequencySpan" column="frequencySpan"/>
        <result property="level" column="level"/>
        <result property="CNR" column="CNR"/>
        <result property="startFrequency" column="startFrequency"/>
        <result property="endFrequency" column="endFrequency"/>
        <result property="recordTime" column="recordTime"/>
        <result property="createUserId" column="createUserId"/>
        <result property="createTime" column="createTime"/>
        <result property="updateUserId" column="updateUserId"/>
        <result property="updateTime" column="updateTime"/>
        <result property="isDelete" column="isDelete"/>
    </resultMap>

    <sql id="selectSpectrumRecordMessageVO">
        select id,
               serviceCode,
               serviceName,
               spectrumCode,
               spectrumName,
               centerFrequency,
               frequencySpan,
               level,
               CNR,
               startFrequency,
               endFrequency,
               recordTime,
               createUserId,
               createTime,
               updateUserId,
               updateTime,
               isDelete
        from spectrum_record_message
    </sql>

</mapper>