<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.figure.core.repository.spectrum.SpectrumServiceDeviceRelMapper">

    <resultMap id="SpectrumServiceDeviceRelResult" type="com.figure.core.model.spectrum.SpectrumServiceDeviceRel">
        <result property="id" column="id"/>
        <result property="serviceCode" column="serviceCode"/>
        <result property="spectrumCode" column="spectrumCode"/>
        <result property="centerFrequency" column="centerFrequency"/>
        <result property="frequencySpan" column="frequencySpan"/>
        <result property="RBW" column="RBW"/>
        <result property="VBW" column="VBW"/>
        <result property="level" column="level"/>
        <result property="startFrequency" column="startFrequency"/>
        <result property="endFrequency" column="endFrequency"/>
        <result property="spectrumStatus" column="spectrumStatus"/>
        <result property="createUserId" column="createUserId"/>
        <result property="createTime" column="createTime"/>
        <result property="updateUserId" column="updateUserId"/>
        <result property="updateTime" column="updateTime"/>
        <result property="isDelete" column="isDelete"/>
    </resultMap>

    <sql id="selectSpectrumServiceDeviceRelVO">
        select id,
               serviceCode,
               spectrumCode,
               centerFrequency,
               frequencySpan,
               RBW,
               VBW,
               level,
               startFrequency,
               endFrequency,
               spectrumStatus,
               createUserId,
               createTime,
               updateUserId,
               updateTime,
               isDelete
        from spectrum_service_device_rel
    </sql>
    <select id="listRel" resultType="java.util.HashMap">
        select t.id,
               t.serviceCode,
               t.spectrumCode,
        t.centerFrequency,
        t.frequencySpan,
        t.RBW,
        t.VBW,
        t.level,
        t.startFrequency,
        t.endFrequency,
        t.spectrumStatus,
               t.createUserId,
               t.createTime,
               t.updateUserId,
               t.updateTime,
               t.isDelete,
        di1.deviceName,
        di1.deviceCode,
               fsi.frontName,
               flp.positionName,
        case di1.deviceStructure when 1 then '一体设备' when 2 then '机箱' when 3 then '插卡设备' else null end,
               dt1.typeName as deviceTypeName,
               dt2.typeName as deviceSubTypeName,
        di1.controlIP,
        di1.dataIPs,
        di2.deviceName as serviceName
        from spectrum_service_device_rel t
                 left join spectrum_service_info ssi on ssi.serviceCode = t.serviceCode
        left join device_info di1 on di1.deviceCode = t.spectrumCode
        left join device_info di2 on di2.deviceCode = t.serviceCode
        left join front_station_info fsi on fsi.frontId = di1.monitorStationId
        left join front_logic_position flp on flp.positionId = di1.logicPositionId
        left join device_type dt1 on dt1.typeCode = di1.deviceType
        left join device_type dt2 on dt2.typeCode = di1.deviceSubType
        <if test="ew.emptyOfWhere == false">
            ${ew.customSqlSegment}
        </if>
    </select>

</mapper>