<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.figure.core.repository.spectrum.SpectrumRecordTracedataMapper">
    
    <resultMap id="SpectrumRecordTracedataResult" type="com.figure.core.model.spectrum.SpectrumRecordTracedata">
        <result property="id" column="id"/>
        <result property="traceData" column="traceData"/>
        <result property="traceDataAverage" column="traceDataAverage"/>
        <result property="createUserId" column="createUserId"/>
        <result property="createTime" column="createTime"/>
        <result property="updateUserId" column="updateUserId"/>
        <result property="updateTime" column="updateTime"/>
        <result property="isDelete" column="isDelete"/>
    </resultMap>

    <sql id="selectSpectrumRecordTracedataVO">
        select id,
               traceData,
               traceDataAverage,
               createUserId,
               createTime,
               updateUserId,
               updateTime,
               isDelete
        from spectrum_record_tracedata
    </sql>

</mapper>