<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.figure.core.repository.multiview.MultiviewVideowallInfoMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.figure.core.model.multiview.MultiviewVideowallInfo">
                <id column="videowallId" property="videowallId" />
                <result column="videowallName" property="videowallName" />
                <result column="frontId" property="frontId" />
                <result column="xNum" property="xNum" />
                <result column="yNum" property="yNum" />
                <result column="createUserId" property="createUserId" />
                <result column="createTime" property="createTime" />
                <result column="updateUserId" property="updateUserId" />
                <result column="updateTime" property="updateTime" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            videowallId, videowallName, frontId, xNum, yNum, createUserId, createTime, updateUserId, updateTime
        </sql>

</mapper>
