<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.figure.core.repository.multiview.MultiviewSubscreenChannelRelMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.figure.core.model.multiview.MultiviewSubscreenChannelRel">
            <result column="id" property="id" />
            <result column="subScreenId" property="subScreenId" />
            <result column="channelId" property="channelId" />
            <result column="channelName" property="channelName" />
            <result column="monitorpointName" property="monitorpointName" />
            <result column="sortNo" property="sortNo" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
                id,
            subScreenId, channelId, channelName, monitorpointName, sortNo
        </sql>

</mapper>
