<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.figure.core.repository.logic.LogicCustomizeInfoMapper">

    <resultMap id="LogicCustomizeInfoResult" type="com.figure.core.model.logic.LogicCustomizeInfo">
        <result property="id" column="id"/>
        <result property="customizeName" column="customizeName"/>
        <result property="groupId" column="groupId"/>
        <result property="priority" column="priority"/>
        <result property="description" column="description"/>
        <result property="lineMode" column="lineMode"/>
        <result property="createUserId" column="createUserId"/>
        <result property="createTime" column="createTime"/>
        <result property="updateUserId" column="updateUserId"/>
        <result property="updateTime" column="updateTime"/>
        <result property="isDelete" column="isDelete"/>
    </resultMap>

    <sql id="selectLogicCustomizeInfoVO">
        select id,
               customizeName,
               groupId,
               priority,
               description,
               lineMode,
               createUserId,
               createTime,
               updateUserId,
               updateTime,
               isDelete
        from logic_customize_info
    </sql>

</mapper>