<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.figure.core.repository.logic.LogicMonitorchannelLogicchannelRelMapper">

    <resultMap id="LogicMonitorchannelLogicchannelRelResult"
               type="com.figure.core.model.logic.LogicMonitorchannelLogicchannelRel">
        <result property="id" column="id"/>
        <result property="monitorChannelCode" column="monitorChannelCode"/>
        <result property="logicChannelCode" column="logicChannelCode"/>
    </resultMap>

    <sql id="selectLogicMonitorchannelLogicchannelRelVO">
        select id, monitorChannelCode, logicChannelCode
        from logic_monitorchannel_logicchannel_rel
    </sql>

</mapper>