<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.figure.core.repository.logic.LogicMonitorunitInterfaceRelMapper">

    <resultMap id="LogicMonitorunitInterfaceRelResult" type="com.figure.core.model.logic.LogicMonitorunitInterfaceRel">
        <result property="id" column="id"/>
        <result property="unitId" column="unitId"/>
        <result property="interfaceId" column="interfaceId"/>
        <result property="createUserId" column="createUserId"/>
        <result property="createTime" column="createTime"/>
        <result property="updateUserId" column="updateUserId"/>
        <result property="updateTime" column="updateTime"/>
        <result property="isDelete" column="isDelete"/>
    </resultMap>

    <sql id="selectLogicMonitorunitInterfaceRelVO">
        select id,
               unitId,
               interfaceId,
               createUserId,
               createTime,
               updateUserId,
               updateTime,
               isDelete
        from logic_monitorunit_interface_rel
    </sql>

</mapper>