<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.figure.core.repository.device.DeviceIndicatorParamMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.figure.core.model.device.DeviceIndicatorParam">
            <result column="id" property="id" />
            <result column="deviceType" property="deviceType" />
            <result column="deviceSubType" property="deviceSubType" />
            <result column="indicatorCode" property="indicatorCode" />
            <result column="unit" property="unit" />
            <result column="alarmThreshold" property="alarmThreshold" />
            <result column="alarmDelay" property="alarmDelay" />
            <result column="recoveryDelay" property="recoveryDelay" />
            <result column="judgmentMode" property="judgmentMode" />
            <result column="remark" property="remark" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
                id,
            deviceType, deviceSubType, indicatorCode, unit, alarmThreshold, alarmDelay, recoveryDelay, judgmentMode, remark
        </sql>

</mapper>
