<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.figure.core.repository.device.DeviceCabinetMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.figure.core.model.device.DeviceCabinet">
                    <result column="cabinetId" property="cabinetId" />
                    <result column="cabinetName" property="cabinetName" />
                    <result column="storage" property="storage" />
                    <result column="restStorage" property="restStorage" />
                    <result column="locateId" property="locateId" />
                    <result column="description" property="description" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            cabinetId, cabinetName, storage, restStorage, locateId, description
        </sql>

</mapper>
