<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.figure.core.repository.device.DeviceConfigureBackupsMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.figure.core.model.device.DeviceConfigureBackups">
                <result column="id" property="id" />
                <result column="deviceCode" property="deviceCode" />
                <result column="backupsName" property="backupsName" />
                <result column="backupsTime" property="backupsTime" />
                <result column="dataType" property="dataType" />
                <result column="backupsData" property="backupsData" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
                id,deviceCode, backupsName, backupsTime, dataType, backupsData
        </sql>

</mapper>
