<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.figure.core.repository.device.DeviceTypeMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.figure.core.model.device.DeviceType">
                    <id column="typeId" property="typeId" />
                    <result column="typeCode" property="typeCode" />
                    <result column="parentTypeCode" property="parentTypeCode" />
                    <result column="leve" property="leve" />
                    <result column="typeName" property="typeName" />
                    <result column="description" property="description" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            typeId, typeCode, parentTypeCode, leve, typeName, description
        </sql>

</mapper>
