<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.figure.core.repository.device.DeviceIndicatorParamRuleMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.figure.core.model.device.DeviceIndicatorParamRule">
                <result column="id" property="id" />
                <result column="ruleName" property="ruleName" />
                <result column="indicatorCode" property="indicatorCode" />
                <result column="alarmThreshold" property="alarmThreshold" />
                <result column="alarmDelay" property="alarmDelay" />
                <result column="recoveryDelay" property="recoveryDelay" />
                <result column="judgmentMode" property="judgmentMode" />
                <result column="isDefault" property="isDefault" />
                <result column="logic" property="logic" />
                <result column="alarmTypeId" property="alarmTypeId" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
                id,
            ruleName, indicatorCode, alarmThreshold, alarmDelay, recoveryDelay, judgmentMode, isDefault, logic, alarmTypeId
        </sql>

</mapper>
