<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.figure.core.repository.device.DeviceAlarmMessageMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.figure.core.model.device.DeviceAlarmMessage">
            <id column="alarmId" property="alarmId" />
            <result column="deviceCode" property="deviceCode" />
            <result column="indicatorCode" property="indicatorCode" />
            <result column="alarmNumber" property="alarmNumber" />
            <result column="alarmMsg" property="alarmMsg" />
            <result column="happenTime" property="happenTime" />
            <result column="endTime" property="endTime" />
            <result column="continueTime" property="continueTime" />
            <result column="status" property="status" />
            <result column="confirm" property="confirm" />
            <result column="result" property="result" />
            <result column="faultType" property="faultType" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            alarmId, deviceCode, indicatorCode, alarmNumber, alarmMsg, happenTime, endTime, continueTime, status, confirm, result, faultType
        </sql>

</mapper>
