<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.figure.core.repository.device.SpectrumCollectServerMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.figure.core.model.device.SpectrumCollectServer">
                <result column="id" property="id" />
                    <result column="serverCode" property="serverCode" />
                    <result column="spectrumDeviceId" property="spectrumDeviceId" />
                    <result column="frequencyStep" property="frequencyStep" />
                    <result column="startFrequency" property="startFrequency" />
                    <result column="endFrequency" property="endFrequency" />
                    <result column="collectFreq" property="collectFreq" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
                id,
            serverCode, spectrumDeviceId, frequencyStep, startFrequency, endFrequency, collectFreq
        </sql>

</mapper>
