<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.figure.core.tdrepository.TDSpectrumRecordTraceDataMapper">
    <resultMap id="SpectrumRecordTracedataResult" type="com.figure.core.model.spectrum.SpectrumRecordTracedata">
        <result property="id" column="id"/>
        <result property="traceData" column="traceData"/>
        <result property="traceDataAverage" column="traceDataAverage"/>
        <result property="createUserId" column="createUserId"/>
        <result property="createTime" column="createTime"/>
        <result property="updateUserId" column="updateUserId"/>
        <result property="updateTime" column="updateTime"/>
        <result property="isDelete" column="isDelete"/>
    </resultMap>

    <insert id="saveEntity" parameterType="com.figure.core.model.spectrum.SpectrumRecordTracedata">
        insert into spectrum_record_tracedata_#{spectrumCode} using spectrum_record_tracedata
            TAGS (#{serviceCode},#{spectrumCode})
            (createTime, traceData, traceDataAverage, id) values (#{createTime}, #{traceData},#{traceDataAverage},#{id})
    </insert>


    <select id="listByWrapper" resultType="com.figure.core.model.spectrum.SpectrumRecordTracedata" parameterType="com.figure.core.model.spectrum.SpectrumRecordTracedata">
        select id,
        serviceCode,
        spectrumCode,
        traceData,
        traceDataAverage,
        createTime
        from spectrum_record_tracedata#{tableName}
        <if test="ew.emptyOfWhere == false">
            ${ew.customSqlSegment}
        </if>
    </select>

    <select id="selectEntityPage" resultType="com.figure.core.model.spectrum.SpectrumRecordTracedata">
        select id,
        serviceCode,
        spectrumCode,
        traceData,
        traceDataAverage,
        createTime
        from spectrum_record_tracedata
        <if test="ew.emptyOfWhere == false">
            ${ew.customSqlSegment}
        </if>
        <if test="ew.emptyOfWhere == true">
            ${ew.sqlSegment}
        </if>
        <if test="size != null and offset !=null">
            LIMIT #{size} OFFSET #{offset}
        </if>
    </select>

    <select id="selectCount" resultType="int">
        select count(*) from spectrum_record_tracedata
        <if test="ew.emptyOfWhere == false">
            ${ew.customSqlSegment}
        </if>
    </select>
</mapper>