<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.figure.core.repository.base.BaseKeywordsRuleMapper">
    
    <resultMap type="com.figure.core.model.base.BaseKeywordsRule" id="BaseKeywordsRuleResult">
        <result property="ruleId" column="ruleId"/>
        <result property="ruleName" column="ruleName"/>
        <result property="mandatoryKeywords" column="mandatoryKeywords"/>
        <result property="requiredKeywords" column="requiredKeywords"/>
        <result property="ignoreKeywords" column="ignoreKeywords"/>
        <result property="isEnable" column="isEnable"/>
        <result property="createUserId" column="createUserId"/>
        <result property="createTime" column="createTime"/>
        <result property="updateUserId" column="updateUserId"/>
        <result property="updateTime" column="updateTime"/>
        <result property="isDelete" column="isDelete"/>
        <result property="synStatus" column="synStatus"/>
    </resultMap>

    <sql id="selectBaseKeywordsRuleVO">
        select ruleId, ruleName, mandatoryKeywords, requiredKeywords, ignoreKeywords, isEnable, createUserId, createTime, updateUserId, updateTime, isDelete, synStatus from base_keywords_rule
    </sql>

</mapper>