<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.figure.core.repository.audit.AuditClipInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.figure.core.model.audit.AuditClipInfo">
        <id column="clipId" property="id" />
        <result column="clipName" property="clipName" />
        <result column="trimIn" property="trimIn" />
        <result column="clipDuration" property="clipDuration" />
        <result column="clipExtension" property="clipExtension" />
        <result column="storageLocation" property="storageLocation" />
        <result column="language" property="language" />
        <result column="auditStatus" property="auditStatus" />
        <result column="video" property="video" />
        <result column="AFD" property="AFD" />
        <result column="audio" property="audio" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        clipId, clipName, trimIn, clipDuration, clipExtension, storageLocation, language, auditStatus, auditStatus, video, AFD, audio
    </sql>


</mapper>