<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.figure.core.repository.signal.SignalMatrixInterfaceInfoMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.figure.core.model.signal.SignalMatrixInterfaceInfo">
                    <id column="interfaceId" property="interfaceId" />
                    <result column="matrixId" property="matrixId" />
                    <result column="interfaceType" property="interfaceType" />
                    <result column="interfaceNumber" property="interfaceNumber" />
                    <result column="positionId" property="positionId" />
                    <result column="boardcastDevId" property="boardcastDevId" />
                    <result column="useInputNumber" property="useInputNumber" />
                    <result column="isEnable" property="isEnable" />
                    <result column="isDelete" property="isDelete" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            interfaceId, matrixId, interfaceType, interfaceNumber, positionId, boardcastDevId, useInputNumber, isEnable, isDelete
        </sql>

</mapper>
