<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.figure.core.repository.signal.SignalLogicChannelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.figure.core.model.signal.SignalLogicChannel">
        <id column="channelCode" property="channelCode"/>
        <result column="channelName" property="channelName"/>
        <result column="channelGrade" property="channelGrade"/>
        <result column="agencyId" property="agencyId"/>
        <result column="isStatellite" property="isStatellite"/>
        <result column="isLocal" property="isLocal"/>
        <result column="mediaType" property="mediaType"/>
        <result column="channelImgUrl" property="channelImgUrl"/>
        <result property="createUserId" column="createUserId"/>
        <result property="createTime" column="createTime"/>
        <result property="updateUserId" column="updateUserId"/>
        <result property="updateTime" column="updateTime"/>
        <result property="isDelete" column="isDelete"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        channelCode, channelName, channelGrade, agencyId, isStatellite, isLocal, mediaType, channelImgUrl, createUserId,
               createTime,
               updateUserId,
               updateTime,
               isDelete
    </sql>

</mapper>
