<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.figure.core.repository.signal.SignalAnalysisServerMapper">

    <resultMap id="SignalAnalysisServerResult" type="com.figure.core.model.signal.SignalAnalysisServer">
        <result property="id" column="id"/>
        <result property="serverNum" column="serverNum"/>
        <result property="deviceId" column="deviceId"/>
        <result property="serverIP" column="serverIP"/>
        <result property="analysisMaximum" column="analysisMaximum"/>
        <result property="createUserId" column="createUserId"/>
        <result property="createTime" column="createTime"/>
        <result property="updateUserId" column="updateUserId"/>
        <result property="updateTime" column="updateTime"/>
        <result property="isDelete" column="isDelete"/>
    </resultMap>

    <sql id="selectSignalAnalysisServerVO">
        select id,
               serverNum,
               deviceId,
               serverIP,
               analysisMaximum,
               createUserId,
               createTime,
               updateUserId,
               updateTime,
               isDelete
        from signal_analysis_server
    </sql>

</mapper>