<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.figure.core.repository.transcode.TranscodeServiceClusterRelMapper">

    <resultMap id="TranscodeServiceClusterRelResult" type="com.figure.core.model.transcode.TranscodeServiceClusterRel">
        <result property="id" column="id"/>
        <result property="transcodeClusterId" column="transcodeClusterId"/>
        <result property="transcodeServiceId" column="transcodeServiceId"/>
        <result property="createUserId" column="createUserId"/>
        <result property="createTime" column="createTime"/>
        <result property="updateUserId" column="updateUserId"/>
        <result property="updateTime" column="updateTime"/>
        <result property="isDelete" column="isDelete"/>
    </resultMap>

    <sql id="selectTranscodeServiceClusterRelVO">
        select id,
               transcodeClusterId,
               transcodeServiceId,
               createUserId,
               createTime,
               updateUserId,
               updateTime,
               isDelete
        from transcode_service_cluster_rel
    </sql>

</mapper>